<form method='POST'>
  <label for='input-password'>Password</label>
  <input
    id='input-password'
    type='password'
    name='password'
    placeholder='Password'
  />

  <button>Log In</button>

  <label for='input-name'>Name</label>
  <input id='input-name' type='text' name='name' placeholder='Name' />

</form>